<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<br> <br> <br> <br> <br> <br>
<div>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>Task</th>
          <th>Progress</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>
            <div *ngIf="!task.isEdit">
              {{ task.title }}
            </div>
            <div *ngIf="task.isEdit">
              <input
                type="text"
                [(ngModel)]="task.title"
                required
                minlength="3"
                maxlength="25"
                size="25"
                margin="3px"
                #Tasktitle
              />
            </div>
          </td>
          <td>
            <input
              type="checkbox"
              id="Finished"
              (click)="changeState(task)"
              *ngIf="task.isDone"
              checked
            />
            <input
              type="checkbox"
              id="Finished"
              (click)="changeState(task)"
              *ngIf="!task.isDone"
            />
          </td>
          <td>
            <div *ngIf="!task.isEdit">
              <button class="btn" (click)="editMode(task)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="button-24" (click)="deleteTask(task._id)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div *ngIf="task.isEdit">
              <button class="btn" (click)="saveEditedTask(task, Tasktitle)">
                <i class="fa fa-save"></i>
              </button>
              <button class="btn" (click)="closeEditMode(task)">
                <i class="fa fa-close"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="center">
    <input
      type="text"
      id="addnew"
      name="addnew"
      required
      minlength="3"
      maxlength="25"
      size="100"
      placeholder="Enter task title"
      margin="3px"
      #Tasktitle
    />
    <br />
    <button class="button-29" (click)="getUserTasks()" style="margin: 5px">
      View Tasks
    </button>
    <button class="button-81" (click)="addNewTask(Tasktitle.value, false)">
      Add
    </button>
    <br />
    <button class="button-29" (click)="logout()" style="margin: 5px">
      Log Out
    </button>
  </div>

</div>
