<br><br>
<div class = "ComboBox">
<div class = "Text">
  <h1>Time is Money!</h1>
  <p style="text-align: left">Sick of managing tasks? No problem! We got you. <br>
  <br>Tick It Off gives you all the handy tools you need, 
  <br>get rid of tasks management headache for good!
</p>
<br>
    <div class="GetStarted">
      <button class="button-82-pushable" role="button" routerLink="/register">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          Get Started!
        </span>
      </button>
    </div>
</div>
<div  class = "image">
  <img src="/assets/images/113 [Converted]-01.png">
</div>
</div>
