
h1 { 
    color: #CEF0D4; 
    font-family: 'Rouge Script', cursive; 
    font-size: 130px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 50px; 
    text-align: center; 
    text-shadow: 1px 1px 2px #082b34; 
}

h2 { 
    color: #CEF0D4; 
    font-family: 'Oleo Script', cursive; 
    font-size: 24px; 
    font-weight: normal; 
    line-height: 32px; 
    margin: 0 0 18px; 
    text-shadow: 1px 0 0 #082b34; 
}
